<div class=app>
  <!--
    Preset API END POINT CALL TAB COMPONENT jsonplaceholder API call selectors
    {usage:[dataItem]='"your_api_end_pint"'}-->
  <!-- user -->
  <app-table-data-selector
    [dataItem]='"users"'
    (emitData)=GET_API_END_POINT($event)>
  </app-table-data-selector>
  <!-- albums -->
  <app-table-data-selector
    [dataItem]='"albums"'
    (emitData)=GET_API_END_POINT($event)>
  </app-table-data-selector>
  <!-- todos -->
  <app-table-data-selector
    [dataItem]='"todos"'
    (emitData)=GET_API_END_POINT($event)>
  </app-table-data-selector>

  <!-- Component Required for user input API calls -->
  <!-- Input URL Component -->
  <app-input-url (emitURL)='GET_DATA_FROM_URL($event)'></app-input-url>

  <!-- Actual TABLE -->
  <app-table *ngIf='showTable'
    [dataSource]='dataSource'
    [dataColumns]='dataColumns'
    [displayColumns]='displayColumns'>
  </app-table>
</div>
